h1 {
  margin: 5px 20px;
  display: flex;
  justify-content: center;
}

body {
  background-image: url(./backgroundS4.gif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Pirata One', 'serif';
}

.game-layout {
  display: grid;
  grid-template-columns: 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px;
  grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px 55px;
  justify-content: center;
}

.block {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /*font-size: 100px;*/
}

.red {
  background-color: red;
  border-radius: 15px;
}
.aqua {
  background-color: aqua;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.magenta {
  background-color: magenta;
}
.blue {
  background-color: rgb(59, 131, 255);
}

.brown {
  background-color: brown;
}

.main-red {
  background-color: red;
}

.main-aqua {
  background-color: aqua;
}

.main-green {
  background-color: green;
}

.main-yellow {
  background-color: yellow;
}
.main-orange {
  background-color: orange;
}
.main-magenta {
  background-color: magenta;
}

.main-blue {
  background-color: rgb(059, 131, 255);
}

.main-brown {
  background-color: brown;
}

.show-color {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 10px;
}
.color-selected {
  border: 3px solid white;
  font-size: 20px;
  padding: 10px;
}

button {
  background-color: red;
  margin: 20px 0;
  font-size: 50px;
  border: 2.5px solid white;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  font-size: 30px;
  list-style-type: none;
}
.no-line {
  text-decoration: none;
}
