body {
  /* background-color: rgb(185, 20, 20); */
  background-image: url(./level1background.gif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  color: white;
  font-family: 'Cinzel', serif;
}
h1 {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-layout {
  background-color: rgba(174, 57, 39, 0.5);
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-content: center;
  border: 5px solid black;
  border-radius: 15px;
  padding: 5px;
  min-width: 500px;
  max-width: 500px;
}
.game-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  display: flex;
  border: 2px solid black;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.show-color {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 10px;
  margin-top: 60px;
}
.color-selected {
  background-color: rgb(195, 194, 194);
  border: 3px solid black;
  font-size: 30px;
  color: black;
  font-weight: bold;
  padding: 10px 15px 0 15px;
  border-radius: 30px;
}
.color-selected:hover {
  cursor: pointer;
}

.red {
  background-color: red;
  border-radius: 30px;
}
.blue {
  background-color: blue;
  border-radius: 30px;
}

.green {
  background-color: green;
  border-radius: 30px;
}

.yellow {
  background-color: yellow;
  border-radius: 30px;
}

.orange {
  background-color: orange;
  border-radius: 30px;
}

.main-red {
  background-color: red;
}

.main-blue {
  background-color: blue;
}

.main-green {
  background-color: green;
}

.main-yellow {
  background-color: yellow;
}
.main-orange {
  background-color: orange;
}

button {
  /* background-color: rgba(174, 0, 255, 1); */
  display: inline;
  font-size: 30px;
  padding: 10px 30px;
  font-family: 'Cinzel', 'serif';
  border-radius: 30px;
  background-color: rgb(195, 194, 194);
  border: 3px solid black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li {
  font-size: 40px;
  list-style-type: none;
}

.no-line:active {
  color: aqua;
}
.no-line {
  text-decoration: none;
  color: white;
}

footer {
  margin-top: 60px;
}
