h1 {
  font-size: 50px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: rgba(255, 255, 255, 0.842);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(42, 0, 121, 0.813);
}

body {
  background-image: url(./background4.gif);
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Nova Square', 'serif';
}

.game-layout {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px 60px 60px 60px 60px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px 60px 60px;
  justify-content: center;
}

.block {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  /*font-size: 100px;*/
}

.red {
  background-color: red;
  border-radius: 15px;
}
.aqua {
  background-color: aqua;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.magenta {
  background-color: magenta;
}
.blue {
  background-color: rgb(59, 131, 255);
}

.main-red {
  background-color: red;
}

.main-aqua {
  background-color: aqua;
}

.main-green {
  background-color: green;
}

.main-yellow {
  background-color: yellow;
}
.main-orange {
  background-color: orange;
}
.main-magenta {
  background-color: magenta;
}

.main-blue {
  background-color: rgb(059, 131, 255);
}

.show-color {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 60px 10px;
}
.color-selected {
  font-size: 35px;
  padding: 15px 20px;
  font-family: 'Nova Square';
  border-radius: 30px;
  background-color: rgba(55, 17, 99, 0.297);
  color: rgba(255, 255, 255, 0.842);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.813);
  border: 3px solid black;
}

button {
  display: inline;
  font-size: 40px;
  padding: 10px 30px;
  font-family: 'Nova Square';
  border-radius: 30px;
  background-color: rgba(55, 17, 99, 0.297);
  color: rgba(255, 255, 255, 0.842);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.813);
  border: 3px solid black;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
li {
  font-size: 40px;
  list-style-type: none;
  margin-top: 30px;
}
.no-line {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.842);
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgba(42, 0, 121, 0.813);
}
