h1 {
  font-size: 50px;
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(17, 68, 99);
}

body {
  background-image: url(./background2.gif); /* Giphy */
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-family: 'Rye', serif;
}

.game-layout {
  display: grid;
  grid-template-columns: 90px 90px 90px 90px 90px 90px;
  grid-template-rows: 90px 90px 90px 90px 90px 90px;
  align-content: center;
  background-color: rgba(17, 68, 99, 0.297);
  border-radius: 15px;
  padding: 5px;
  min-width: 540px;
  max-width: 540px;
}

.game-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-color {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 10px;
  margin-top: 60px;
}
.color-selected {
  background-color: rgba(47, 111, 49, 0.606);
  border: 3px solid black;
  font-size: 40px;
  color: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(17, 68, 99);
  font-weight: bold;
  padding: 10px 15px 0 15px;
  border-radius: 30px;
}
.color-selected:hover {
  cursor: pointer;
}

.block {
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
  border-radius: 15px;
}
.aqua {
  background-color: aqua;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.magenta {
  background-color: magenta;
}

.main-red {
  background-color: red;
}

.main-aqua {
  background-color: aqua;
}

.main-green {
  background-color: green;
}

.main-yellow {
  background-color: yellow;
}
.main-orange {
  background-color: orange;
}
.main-magenta {
  background-color: magenta;
}

button {
  display: inline;
  font-size: 40px;
  padding: 10px 30px;
  font-family: 'Rye', 'serif';
  border-radius: 30px;
  background-color: rgba(47, 111, 49, 0.606);
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(17, 68, 99);
  border: 3px solid black;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li {
  font-size: 40px;
  list-style-type: none;
}

.no-line:active {
  color: aqua;
}
.no-line {
  text-decoration: none;
  color: white;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: rgb(17, 68, 99);
}

footer {
  margin-top: 60px;
}
