body {
  background-color: grey;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}
h1 {
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-layout {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
  justify-content: center;
  border: 5px solid black;
  border-radius: 15px;
  padding: 5px;
  min-width: 500px;
  max-width: 500px;
}
.game-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block {
  display: flex;
  border: 1px solid white;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
}

.red {
  background-color: red;
  border-radius: 30px;
}
.blue {
  background-color: blue;
  border-radius: 30px;
}

.green {
  background-color: green;
  border-radius: 30px;
}

.yellow {
  background-color: yellow;
  border-radius: 30px;
}

.orange {
  background-color: orange;
  border-radius: 30px;
}

.main-red {
  background-color: red;
}

.main-blue {
  background-color: blue;
}

.main-green {
  background-color: green;
}

.main-yellow {
  background-color: yellow;
}
.main-orange {
  background-color: orange;
}

button {
  background-color: rgba(174, 0, 255, 1);
  display: inline;
  font-size: 30px;
  padding: 10px 30px;
}

.show-color {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 10px;
}
.color-selected {
  border: 3px solid white;
  font-size: 20px;
  padding: 10px;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
li {
  font-size: 30px;
  list-style-type: none;
}
.no-line {
  text-decoration: none;
}
